.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-item {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-decoration: none;
  padding: .5rem 0.45rem;
  display: block;
  color: white;
}

.nav-item:hover {
  color: white;
}

.nav-item-active {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  padding: .5rem 1rem;
  display: block;
  text-decoration: underline;
  font-weight: bold;
  color: #006BEF;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
